/* le corps de la page et la cascade */

body {
  background: #ebdef0;
  /*lefond*/color: #111;
  /*lacouleurdutexte*/font-family: "Roboto", sans-serif;
  /*lafamilletypooulapolice*/line-height: 100%;
  /*hauteurdeligne1=100%,1.5=150%*/border: groove 1em rgba(88, 190, 110, 0.342);
  border-radius: 1em;
  padding-top: 10px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 10px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}
.form-align
{
    text-align: left;
}

h5 {
    text-align: right;
}
p {
    display: inline-block;
}

nav
{
    display: inline-block;
    font-weight: 50;
}
ul,
li {
  display: inline-block;
  font-weight: 50;
}

h2
{
  font-style: italic;
}

/* les liens dans la navigation */
nav a {
  font-size: 20px; /* taille : ! on colle les unités */
  text-decoration: none; /* pas de soulignement */
  color: darkcyan; /* la couleur de la nav */
  display: block; /* à la ligne et sur toute la longueur */
}

/* teaser pour la suite  */
nav a:hover {
  color: #f60;
}

nav a::after {
  content: "👀";
  font-size: 18px;
  padding: 4px 12px;
  display: inline-block;
}

nav a:hover::after {
  transform: scaleX(-1.5);
}

/* Footer */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

* {
  font-family: Roboto;
}

section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 5vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px "roboto";
  padding: 20px 20px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease 0.25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease 0.25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition: all 0.25s;
}

.footer-distributed .footer-right a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.footer-distributed p.footer-links a:hover {
  text-decoration: underline;
}

/* Media Queries */

@media (max-width: 400px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}


/* The side navigation menu */

/*
.sidebar {
    
    margin: 0;
    padding: 0;
    width: 100px;
    background-color: #f1f1f1;
    position: fixed;
    height: 40%;
    overflow: auto;
  }
  
  /* Sidebar links 
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link 
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Links on mouse-over 
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property 
  
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar 
  @media screen and (max-width: 200px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
 